@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');
body{
    background: url(leaves-pattern.png);
    font-family: 'Radio Canada', sans-serif;
}
.pricecontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 400px;
    width: 100%
}

.griditem1{
    background-color: white;
    grid-column: 1/5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 50px 10px 50px;
}
.griditem2{
    background-color: darkcyan;
    grid-column: 1/3;
    border-bottom-left-radius: 10px;
    padding: 10px 15% 15% 15%;
    color: white;
}
.griditem3{
    background-color: cadetblue;
    grid-column: 3/5;
    border-bottom-right-radius: 10px;
    padding: 10px 15% 15% 15%;
    line-height: 20px;
}
.grid-shadow{
    margin: auto;
    width: 60%;
    height: 499px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 10px rgba(0,0,0,0.59);
}
.p1{
    font-size: 25px;
    color: darkcyan;
}
.p2{
    color: orange;
}
.p3{
    color:darkcyan;
}
#pricetag{
    font-size: 30px;
}
.textcolor3{
    color: white
}
.row2heading{
    font-size: 25px;
}
.whyusbody{
    font-size: 13px;
}
#signup{
    background-color: orange;
    width: 100%;
    margin: auto;
    height: 20px;
    color:white;
    padding: 15px 0 10px 0;
    font-size: 13px;
    border-radius: 10px;
}
#signup:hover{
    background: darkgoldenrod;
    cursor: pointer;
}