.pricecontainer{
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    height: 400px;
    border-radius: 10px;
    width: 70%
}

.griditem1{
    background-color: aqua;
    grid-column: 1/5;

}
.griditem2{
    background-color: blue;
    grid-column: 1/3;
}
.griditem3{
    background-color: green;
    grid-column: 3/5;
}